<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REMOTE_ADDR} !192\.168\.200\.51
RewriteCond %{REQUEST_URI} /referesh/owl$ [NC]
RewriteRule ^.*$ http://192.168.200.51/demo/err.html [R=301,L]
#RewriteRule .? %{HTTP_HOST}/demo/index.php [R=301,L]

</IfModule>
